<h1><%= @article.title %></h1>

<%= @article.body %></br>

<%= link_to "Edit Article", edit_article_path(@article) %>
<%= link_to "DESTROY!!", article_path(@article), :method => :delete,
    :confirm => "Are you sure you want to destroy '#{@article.title}'?" %></br>
<%= link_to "Back to All Articles!", articles_path %>